.create-source {
  display: flex;
  flex-direction: column;
  gap: sys-var(space, md);
  width: min(32rem, 80vw);
  max-width: 100%;
  min-width: 0;
  h2 {
    @include apply-font(title-sm);
    margin: 0;
  }
  &__actions {
    display: flex;
    flex-wrap: wrap;
    gap: sys-var(space, sm);
    justify-content: flex-end;
  }
}
