.graph-view {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  background: sys-var(color, surface, base);
  overflow: hidden;

  &__loading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 100%;
  }

  &__canvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background: sys-var(color, surface, base);
  }

  &__empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: sys-var(space, md);
    color: sys-var(color, text, subtle);

    &-icon {
      font-size: 48px;
      opacity: 0.5;
    }

    &-text {
      font-size: sys-var(text, body, lg);
    }
  }
}
