# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules
pnpm-lock.yaml
package-lock.json

# Build output
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/*.example.jsonc
!.vscode/*.example.json
!.vscode/*.code-snippets
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# others
.DS_Store
*.tsbuildinfo
.__mf__temp

# env files
.env 

# Dev Browser
.browser-profile/*
.dev-browser-extension/*

# Agent files
.claude

# Temp files
tmp
temp