/* Error: expected "{".
 *   ,
 * 3 |     <!-- 主要工作区域 -->
 *   |      ^
 *   '
 *   src/views/start.vue 3:6  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a   \2577 \a 3 \2502      <!-- \4e3b \8981 \5de5 \4f5c \533a \57df  -->\a   \2502       ^\a   \2575 \a   src/views/start.vue 3:6  root stylesheet';
}
