.peer-list {
  display: flex;
  flex-direction: column;
  gap: sys-var(space, md);

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: sys-var(space, md);
    h1 {
      @include apply-font(title-lg);
      margin: 0;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: sys-var(space, lg);
  }
  &__skeleton {
    display: grid;
    gap: sys-var(space, md);
    padding: sys-var(space, lg) sys-var(space, md);
    border: 1px solid sys-var(color, border, subtle);
  }
  &__error {
    display: grid;
    justify-items: start;
    gap: sys-var(space, sm);
    p {
      margin: 0;
    }
  }
}
