.peer-list {
  display: flex;
  flex-direction: column;
  gap: sys-var(space, md);

  &__header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: sys-var(space, md);
    border-bottom: 1px solid sys-var(color, border, base);
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: sys-var(space, sm);
  }
}
