.new-collect-job {
  display: flex;
  flex-direction: column;
  gap: sys-var(space, md);
  padding: sys-var(space, md);

  &__description {
    @include apply-font(body-md);
    color: sys-var(color, text, base);
    margin: 0;
  }
}
