.peers-view {
  flex: 1;
  min-width: 0;
  padding: sys-var(space, lg);
  display: flex;
  flex-direction: column;
  gap: sys-var(space, lg);
  overflow-y: auto;

  h1 {
    @include apply-font(title-lg);
    margin: 0;
    color: sys-var(color, text, base);
  }
}
