.source-form {
  min-width: 0;
  gap: sys-var(space, md);

  p {
    margin: 0;
    @include apply-font(body-sm);
  }
  &__error {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: sys-var(space, sm);
  }
}
