.extension-card {
  display: flex;
  flex-direction: column;
  gap: sys-var(space, md);
  padding: sys-var(space, md);
  border: 1px solid sys-var(color, border, base);
  background-color: sys-var(color, surface, base);
  box-sizing: border-box;
  width: 100%;
  min-width: 280px;
  max-width: 380px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__info {
    display: flex;
    align-items: center;
    gap: sys-var(space, sm);
  }

  &__id {
    @include apply-font(body-lg);
  }

  &__version {
    @include apply-font(label-lg, mono);
    color: sys-var(color, text, subtle);
  }

  &__nickname {
    @include apply-font(body-lg);
    color: sys-var(color, text, base);
  }

  &__actions {
    display: flex;
    gap: sys-var(space, sm);
  }
}
