.job-view {
  display: flex;
  flex-wrap: wrap;
  gap: sys-var(space, lg);
  overflow-y: auto;
  align-content: flex-start;
  flex: 1;
  min-width: 0;
  align-items: flex-start;
  box-sizing: border-box;
  padding: clamp(16px, 4vw, 32px);
  background: sys-var(color, surface, base);

  &__loading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }

  &__error {
    display: flex;
    flex-direction: column;
    gap: sys-var(space, md);
    justify-content: center;
    align-items: center;
    flex: 1;
    @include apply-font(body-lg);
    color: sys-var(color, text, subtle);
  }

  &__metadata {
    display: flex;
    flex-direction: column;
    gap: sys-var(space, md);
    padding: sys-var(space, md);
    border-top: 1px solid sys-var(color, border, subtle);
    box-sizing: border-box;
    min-width: 0;
    flex: 1 1 22rem;
  }

  &__logs {
    display: flex;
    flex-direction: column;
    gap: sys-var(space, md);
    padding: sys-var(space, md);
    border-top: 1px solid sys-var(color, border, subtle);
    box-sizing: border-box;
    align-self: stretch;
    flex: 2 1 28rem;
    min-width: 0;

    &__title {
      @include apply-font(title-sm);
      color: sys-var(color, text, base);
      margin: 0;
    }
  }
}

.metadata {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: sys-var(space, md);
  }

  &__title {
    @include apply-font(title-sm);
    color: sys-var(color, text, base);
    margin: 0;
  }

  &__value:is(pre) {
    @include apply-font(body-sm, $mono: true);
  }

  &__value {
    @include apply-font(label-lg);
    color: sys-var(color, text, base);
    overflow-x: auto;

    &.status--pending {
      color: sys-var(color, feedback, warning);
    }

    &.status--running {
      color: sys-var(color, feedback, info);
    }

    &.status--finished {
      color: sys-var(color, feedback, success);
    }

    &.status--failed {
      color: sys-var(color, feedback, error);
    }
  }
}

.source-info {
  display: flex;
  flex-direction: column;
  gap: sys-var(space, xs);

  &__type {
    @include apply-font(label-md);
    color: sys-var(color, text, subtle);
  }

  &__nickname {
    @include apply-font(body-md);
    color: sys-var(color, text, base);
  }

  &__id {
    @include apply-font(label-md, $mono: true);
    color: sys-var(color, text, subtle);
  }
}
